body.main{
    background-image:url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 100px;
    margin-right: 100px;


}
html, body{
    text-align: center;
}
a.navigate{    
    text-align: center;
    margin: 50px;
    border: red solid 1px;
    border-color: rgb(255, 145, 0);
    border-width: 2px;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 10px rgb(1, 39, 1);
    font-size: 20px;
}

h1{
    text-align: center;
}

.hm{
    text-align: center;
    margin-left: 50px;
    
}
hr {
    border: 1px solid rgb(252, 124, 50);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(1, 29, 1);
}

.img{
    margin-left: 100px;
    border: 1px solid rgb(252, 124, 50);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(1, 29, 1);
}
.img5{
  margin-left: 100px;
  border: 1px solid rgb(252, 124, 50);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(1, 29, 1);
}

.pfp{
    border: 1px solid rgb(252, 124, 50);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(1, 29, 1);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  table{
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
  }
  
  th, td {
    padding: 20px;
    border: 1px solid black;
  }

.cap1{
    margin-left: 100px;
    font-size: 18px;
  }
.cap2{
    margin-left: 100px;
    font-size: 18px;
  }
.cap3{
    margin-left: 100px;
    font-size: 18px;
}

footer {
  font-size: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.cap4{
    margin-left: 100px;
    font-size: 18px;
}
.cap5{
    margin-left: 100px;
    font-size: 18px;
}

.container1{
	width: 80%;
	margin: 0 auto;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  
}

nav {
  float: center;
  margin-right: 200px;
  
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 200px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
nav a:hover {
  color: #000;
}
nav a:hover::before {
  width: 100%;
}

.image-container:hover .img{
  transform: scale(1.1);
}

.loc{
  margin-top: 50px;
}

form{
  margin-top: 50px;
  font-size: 20px;
}

